#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #0a2315;
  img{
    padding-top: 8em;
    width: 50%;
    @media (max-width: 600px) {
      min-width: 80%;
    }
    @media (min-width: 551px){
      padding-top: 10.5em
    }
  }
  p{
    text-align: justify;
    width: 50%;
    line-height: 1.8em;
    @media (max-width: 600px) {
      min-width: 80%;
    }
  }
}