#footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  #spotify-player {
    margin: .5em;
    opacity: 1;
    :not(:hover) {
      opacity: 0.8;
    }
  }
  #social {
    margin: .5em;
    display: flex;
    list-style: none;
    li {
      padding: 0 .2em;
      color: #fbf6ec;
      font-size: 1.75em;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  form {
    
    input {
      font-family: 'Poppins', sans-serif;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 5px;
      font-size: 1em;
      border-style: solid;
      opacity: 70%;
      // background-color: inherit;
      border-color: #fbf6ec;
      :focus {
        outline: none;
      }
    }
    button {
      font-family: 'Poppins', sans-serif;
      color:  #575656;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 5px;
      font-size: 1em;
      border-style: solid;
      background-color: inherit;
      // border-color: #fbf6ec;
    }
    .msg-alert p {
      color: #575656 !important;
      // margin-top: -20px;
      // font-size: .em;
    }
  }
}