#footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  #spotify-player {
    margin: .5em;
    opacity: 1;
    :not(:hover) {
      opacity: 0.8;
    }
  }
  #social {
    margin: .5em;
    display: flex;
    list-style: none;
    li {
      padding: 0 .2em;
      color: #fbf6ec;
      font-size: 1.75em;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  form {
    font-family: 'Futura';
    input {
      margin: 1em;
    }
  }
}