.footer{
  width: 100%;
  
  #spotify-player {
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 1;
    padding:1em;
    // :not(:hover) {
    //   // opacity: 0.5;
    // }
  }
  #social {
    display: flex;
    padding-right: 1em;
    list-style: none;
    position: fixed;
    right: 0;
    bottom: 0;
    
    li {
      padding: 0 .2em;
      color: #fbf6ec;
      font-size: 2em;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}