@font-face {
  font-family: 'kristopher', sans-serif;
  src: url("/public/kristopher.otf") format("opentype");
}
.mailing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
  padding-top: 6em;
  :focus {
    outline: none;
  }
  
  input {
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    font-size: 1.5em;
    margin: .5em;
    background-color: inherit;
    font-family: 'Bitter', serif;
    border-color: #fbf6ec;
  }
  h4 {
    font-family: 'kristopher', sans-serif;
    color: #fbf6ec;
    font-size: 2em;
    margin-bottom: 5px;
  }
  .form-button {
    font-family: 'kristopher', serif;
    color: #fbf6ec;
    font-size: 1.5em;
    padding: .3em;
    margin-top: 1.5em;
  }
  
}