.subscribe-page {
  color: #fbf6ec;
  height: 100vh;
  h3 {
    padding-top: 8em;
    margin-bottom: 5px;
    @media (max-width: 551px){
      padding-top: 6em
    }
  }
  p {
    margin: 0;
  }
  .mailing-list {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    :focus {
      outline: none;
    }
    input {
      color: #fbf6ec;
      font-size: 1em;
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      border-style: solid;
      margin: .5em;
      background-color: inherit;
      border-color: #fbf6ec;
    }
    h4 {
      font-size: 1.1em;
      margin-bottom: 5px;
    }
    .form-button {
      margin-top: 1em;
      align-items: center;
      font-family: 'Nunito Sans', sans-serif;
      color: #fbf6ec;
      font-size: 1.2em;
      padding: .3em;
      cursor: pointer;
    } 
  }
  .disclaimer {
    padding-top: 2em;
    font-size: .8rem;
  }
}