.App {
  text-align: center;
  min-height: 100%;
  .home-page {
    height: 100vh;
    background-image: url("/images/splash-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
  }
  .bar {
    background-color: #DDBEA9;
  }

  .page {
    min-height: 100%;
    background-image: url("/images/fabric.png");
    background-color: #A5A58D;
  }
  #header {
    .menu {
      background-color:#CB997E;
    }
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    
    img {
      margin-top: 1em;
      width: 400px;
    }
  }
  ul > li {
    opacity: 1.0;
  }
  ul:hover > li:not(:hover) {
    opacity: 0.5;
  }
}
