.App {
  text-align: center;
  min-height: 100%;
  .home-page {
    height: 100vh;
    background-image: url("/images/splash-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .page {
    min-height: 100%;
    background-image: url("/images/fabric.png");
    background-color: #A5A58D;
  }
  .bar {
    background-color: #DDBEA9;
    .menu {
      background-color:#CB997E;
    }
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 135px;
    
    img {
      margin-top: 1em;
      width: 400px;
    }
  }
}
