.App {
  text-align: center;
  min-height: 100%;
  .home-page {
    min-height: 100vh;
    background-image: url("/images/splash-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .page {
    min-height: 100%;
    background-image: url("/images/fabric.png");
    background-color: #A5A58D;
  }
  #header.bar {
    background-color:#DDBEA9;
    background-image: url("/images/binding-light.png")
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: .5em;    
    img {
      margin-top: 1em;
      max-width: 80%;
    }
  }
  .bar {
    background-color: #DDBEA9;
    background-image: url("/images/binding-light.png");
  }
}