@font-face {
  font-family: 'Futura-Medium';
  src: url('/public/fonts/Futura-Medium.eot');
  src: url('/public/fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
       url('/public/fonts/Futura-Medium.svg#Futura-Medium') format('svg'),
       url('/public/fonts/Futura-Medium.ttf') format('truetype'),
       url('/public/fonts/Futura-Medium.woff') format('woff'),
       url('/public/fonts/Futura-Medium.woff2') format('woff2');
  font-weight: normal;
}

// @font-face {
//   font-family: 'kristopher', sans-serif;
//   src: url("/public/kristopher.otf") format("opentype");
// }

body {
  margin: 0;
  font-family: 'Futura-Medium';
  // font-family: 'Montserrat', 'serif';
  font-weight: 100;

  ul > li {
    opacity: 1.0;
  }
  ul:hover > li:not(:hover) {
    opacity: 0.5;
  }
  
}
