body {
  margin: 0;
  font-family: 'Bitter', serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 20px;
}

@font-face {
  font-family: kristopher;
  src: url("/public/kristopher.otf") format("opentype");
}
