// @font-face {
//   font-family: "FuturaBT-Light";
//   src: url("/public/fonts/FUTURAL813.eot"); /* IE9 Compat Modes */
//   src: url("/public/fonts/FUTURAL813.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//     url("/public/fonts/FUTURAL813.otf") format("opentype"), /* Open Type Font */
//     url("/public/fonts/FUTURAL813.svg") format("svg"), /* Legacy iOS */
//     url("/public/fonts/FUTURAL813.ttf") format("truetype"), /* Safari, Android, iOS */
//     url("/public/fonts/FUTURAL813.woff") format("woff"), /* Modern Browsers */
//     url("/public/fonts/FUTURAL813.woff2") format("woff2"); /* Modern Browsers */
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'kristopher', sans-serif;
//   src: url("/public/kristopher.otf") format("opentype");
// }

body {
  margin: 0;
  // font-family: 'FuturaBT-Light', sans-serif;
  font-family: 'Nunito Sans', sans-serif; //weights: 200, 300, 600
  // font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;

  ul > li {
    opacity: 1.0;
  }
  ul:hover > li:not(:hover) {
    opacity: 0.5;
  }
  
}
